.header {
    display: flex;
    height: 100px;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

h1 {
  font-size: 80px;
  color: white;
}

.flex-container {
    display: flex;
}

.trybewarts-header-logo {
    height: 100px;
    align-self: center;
    margin-left: 40px;    
}

.trybewarts-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 1000px;
    height: 80px;
    justify-content:space-around;
    align-items: center;
}

#inEmail {
  font-weight: bold;
  font-size: xx-large;
  text-indent: 20px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  color: white;
}

#inPassword {
  font-size: xx-large;
  font-weight: bold;
  text-indent: 20px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border-color: whitesmoke;
}

#inButton {
  font-size: larger;
  font-weight: bold;
  width: 300px;
  height: 80px;
  color: white;
  font-size: xx-large;
  font-style:initial;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(74, 8, 135);
  background-color: rgb(74, 8, 135);
}

main {
  display: flex;
}


#trybewarts-forms-logo {
    height: 500px;
    justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
}

.concordar {
  align-items: center;
}

.column {
  flex-direction: column;
}