* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    display: flex;
    height: 100px;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

.flex-container {
    display: flex;
}

.trybewarts-header-logo {
    height: 100px;
    align-self: center;
    margin-left: 40px;    
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 500px;
  height: 80px;
  justify-content:space-around;
  align-items: center;
}

#inEmail {
  margin: 0 5px;
  font-weight: bold;
  font-size: medium;
  text-indent: 20px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  color: black;
}

#inPassword {
  font-size: medium;
  font-weight: bold;
  text-indent: 20px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border-color: whitesmoke;
}

#inButton {
  margin: 0 5px;
  font-size: medium;
  font-weight: bold;
  width: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(74, 8, 135);
  background-color: rgb(74, 8, 135);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}


#trybewarts-forms-logo {
    display: flex;
    order: 2; 
    height: 500px;
    justify-content: space-between;
}

#evaluation-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 675px;
}

#input-name {
  font-weight: bold;
  text-indent: 5px;
  width: 17em;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid black;
  align-items: center;
}

#input-lastname {
  font-weight: bold;
  text-indent: 5px;
  width: 17em;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid black;
  align-items: center;
}


#input-email {
  font-weight: bold;
  text-indent: 5px;
  width: 17em;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid black;
  align-items: center;
}


#house {
  font-weight: bold;
  text-indent: 5px;
  width: 12.3em;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  border: 1px solid black;
}

#labelHouse {
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  align-self: center;
} 


#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
}

.concordar {
  align-items: center;
}

.column {
  flex-direction: column;
}

form h2 {
  margin: 10px 0;
  font-size: 1.7rem;
  color: black;
  align-self: center;
}

#evaluation-form .nomeCompleto input, #evaluation-form .emailCasa input{
  padding: 10px;
  width: 17em;
  margin-right: 5px;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

#evaluation-form .emailCasa, #evaluation-form .nomeCompleto {
  margin: 5px 0;
}


hr#primeirohr {
  margin: 10px 0;
  width: 60%;
}

.parte2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  width: 80%;
}

.parte2 .conteudos {
  flex-direction: column;
  padding-left: 10px;
  height: 100px;
}

.parte2 .conteudos .todasCheckboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
}

hr#segundohr {
  margin-top: -5px;
  margin-bottom: 10px;
  width: 80%;
}

#label-rate label{
  padding: 0 5px;
  
}

.comentario {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  margin: 5px 0;
}

#submit-btn {
  margin-top: 5px;
  width: 80%;
  height: 2em;
  border: 1px solid #503783;
  background-color: #503783;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
}

#agreement {
  margin-left: 5px;
}

.comentario textarea {
  border-radius: 15px;
  text-align:start
}

footer {
  background-color: #46685b;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}