* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    display: flex;
    height: 100px;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

h1 {
  font-size: 80px;
  color: white;
}

.flex-container {
    display: flex;
}

.trybewarts-header-logo {
    height: 100px;
    align-self: center;
    margin-left: 40px;    
}

.trybewarts-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 1000px;
    height: 80px;
    justify-content:space-around;
    align-items: center;
}

#inEmail {
  font-weight: bold;
  font-size: xx-large;
  text-indent: 20px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: white;
  color: white;
}

#inPassword {
  font-size: xx-large;
  font-weight: bold;
  text-indent: 20px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border-color: whitesmoke;
}

#inButton {
  font-size: larger;
  font-weight: bold;
  width: 300px;
  height: 80px;
  color: white;
  font-size: xx-large;
  font-style:initial;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(74, 8, 135);
  background-color: rgb(74, 8, 135);
}

main {
  display: flex;
}


#trybewarts-forms-logo {
    height: 500px;
    justify-content: space-between;
}

#evaluation-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 675px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
}

.concordar {
  align-items: center;
}

.column {
  flex-direction: column;
}

form h1 {
  margin: 10px 0;
  font-size: 1.7rem;
  color: black;
  align-self: center;
}

#evaluation-form .nomeCompleto input, #evaluation-form .emailCasa input{
  padding: 10px;
  width: 15em;
  margin-right: 5px;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

#evaluation-form .emailCasa, #evaluation-form .nomeCompleto {
  padding-top: 5px;
  justify-content: center;
  width: 80%;
}

#evaluation-form select {
  width: 12.3em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

#evaluation-form .emailCasa label {
  align-self: center;
}

hr#primeirohr {
  margin: 10px 0;
  width: 60%;
}

.parte2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  width: 80%;
}

.parte2 .conteudos {
  flex-direction: column;
  padding-left: 10px;
  height: 100px;
}

.parte2 .conteudos .todasCheckboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
}

hr#segundohr {
  margin-top: -5px;
  margin-bottom: 10px;
  width: 80%;
}

#label-rate label{
  padding: 0 5px;
  
}

.comentario {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  margin: 5px 0;
}

#submit-btn {
  margin-top: 5px;
  width: 80%;
  height: 2em;
  border: 1px solid #503783;
  background-color: #503783;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
}